<% provide(:main_title, "Material Submission") %>
<h2>Log in</h2>

<% if Rails.configuration.fake_ldap %>

<div class="alert alert-danger" role="alert">
  <strong>Warning!</strong> Do not use your real password.
</div>

<% end %>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.text_field :email, autofocus: true, label: 'Email/Username' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %>
      </label>
    </div>
  <% end -%>

  <%= f.submit "Log in" %>

<% end %>

<%= render "devise/shared/links" %>
