<% content_for :main_title do %>
Materials Awaiting Receipt
<% end %>
<p>This table shows barcodes which have been dispatched, but the corresponding materials have not yet been received at the institute.</p>
<table class="table table-striped"
  data-psd-component-class="DataTableInitialization"
  data-psd-component-parameters="<%= { ordering: false }.to_json %>">
  <thead>
    <th>Manifest No.</th>
    <th>Submitter</th>
    <th>Dispatched</th>
    <th>Missing Barcodes</th>
    <th></th>
  </thead>
  <tbody>
    <% Manifest.awaiting_receipt.includes(:labwares).each do |manifest| %>
      <% barcodes = [] %>
      <tr>
        <td style="width: 110px"><%= manifest.id %></td>
        <td><%= manifest.owner_email %></td>
        <td><%= time_ago_in_words(manifest.dispatch_date) + " ago" if manifest.dispatch_date %></td>
        <td>
          <% manifest.labwares.each do |lw| %>
            <% barcodes.push(lw.barcode) unless lw.received? %>
          <% end %>
          <%= barcodes.join(', ') %>
        </td>
        <td><%= link_to 'View', manifest_path(manifest), class: 'btn btn-default pull-right' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
