<tr>
  <td><%= check_box_tag "completed_submission_ids[]", completed_submission.id %>
  <td><%= completed_submission.id %></td>
  <td><%= completed_submission.status %></td>
  <td><%= completed_submission.no_of_labwares_required %></td>
  <td><%= completed_submission.email %></td>
  <td><%= completed_submission.created_at %></td>
</tr>
