<% content_for :main_title do %>
  Completed Submissions
<% end %>
<%= form_tag(controller: "completed_submissions", action: "print", method: "post") do %>

<div class="row">
  <div class="col-md-offset-8 col-md-4 text-right">
    <b>Printer:</b>
    <%= collection_select(:printer, :name, @printers, :name, :printer_description, {},
        { class: "printer_select", id: "printer_name_top"}) %>
    <%= submit_tag("Print", class: 'btn btn-primary', style: 'margin-left: 10px;', id: "print_button_top") %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Completed Submissions</h2>
    <%= render "completed_submission_table", completed_submissions: @unprinted_submissions %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Awaiting dispatch Submissions</h2>
    <%= render partial: "dispatched_submission_table", locals: { dispatched_submissions: @not_dispatched_submissions, readonly: false}  %>
    <% if @not_dispatched_submissions.count > 0 %>
      <%= submit_tag("Dispatch", formaction: completed_submissions_dispatch_url, class: 'btn btn-primary', style: 'margin-left: 10px;', id: "print_button_bottom") %>    
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h2>Dispatched Submissions</h2>
    <%= render partial: "dispatched_submission_table", locals: { dispatched_submissions: @dispatched_submissions, readonly: true } %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Previously Printed Submissions</h2>
    <%= render "completed_submission_table", completed_submissions: @printed_submissions %>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-8 col-md-4 text-right">
    <b>Printer:</b>
    <%= collection_select(:printer, :name, @printers, :name, :printer_description, {},
        { class: "printer_select", id: "printer_name_bottom" }) %>
    <%= submit_tag("Print", class: 'btn btn-primary', style: 'margin-left: 10px;', id: "print_button_bottom") %>
  </div>
</div>

<% end %>

