<% content_for :main_title do %>
  Completed Submissions
<% end %>
<%= render :partial => 'title_buttons' %>
<%= form_tag(controller: "completed_submissions", action: "print", method: "post") do %>

<div class="row">
  <div class="col-md-offset-8 col-md-4 text-right">
    <%= render partial: "print_form" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Completed Submissions</h2>
    <%= render "completed_submission_table", completed_submissions: @unprinted_submissions %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Previously Printed Submissions</h2>
    <%= render "completed_submission_table", completed_submissions: @printed_submissions %>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-8 col-md-4 text-right" style="padding-bottom:10px;">
    <%= render partial: "print_form" %>
  </div>
</div>

<% end %>
