<div class="row">
  <div class="col-md-12">
    <div style="margin: 10px 0">
      <% if (last_step?) %>
        <%= f.submit "Save & Exit", class: "btn btn-success pull-right" %>
      <% else %>
        <% if step == :provenance %>
          <%= link_to "Next", wizard_path(:ethics), {class: "btn btn-primary save pull-right" } %>
        <% else %>
          <%= f.submit "Next", class: "btn btn-primary pull-right" %>
        <% end %>
      <% end %>

      <% unless first_step? %>
        <%= link_to 'Previous', previous_wizard_path,
              class: 'btn btn-primary pull-left',
              data: { confirm: 'Are you sure you wish to go back? You will lose unsaved progress on the curent step' },
              style: "margin-right: 10px" %>
      <% end %>

      <%= link_to 'Cancel Manifest', manifest,
            method: :delete,
            class: 'btn btn-danger pull-left',
            data: { confirm: 'Are you sure you wish to cancel this manifest?' } %>
    </div>
  </div>
</div>
