<div class="row">
  <div class="col-md-12">
    <p style="padding: 15px; margin: 15px 0" class="bg-info">
      Please read submission guidance before submitting your material.
      <br /><br />
      <%= link_to "Submission guidance (vx.x)", "#" %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render "error_messages", target: material_submission %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <ul class="nav nav-tabs" role="tablist">
      <li class="<%= 'active' if (step == :labware) %>" role="presentation">
        <a href="<%= wizard_path(:labware) %>" aria-controls="labware" role="tab">Step 1: Labware</a>
      </li>

      <li class="<%= 'active' if (step == :provenance) %>" role="presentation">
        <a href="<%= wizard_path(:provenance) %>" aria-controls="provenance" role="tab">Step 2: Provenance</a>
      </li>

      <li class="<%= 'active' if (step == :dispatch) %>" role="presentation">
        <a href="<%= wizard_path(:dispatch) %>" aria-controls="dispatch" role="tab">Step 3: Dispatch</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="<%= step %>">
        <%= yield %>
      </div>
    </div>

  </div>
</div>