<% content_for :main_title do %>
  Material Submission
<% end %>

<div class="row">
  <div class="col-md-12">
    <p style="padding: 15px; margin: 15px 0" class="bg-info">
      Please read submission guidance before submitting your material.
      <br /><br />
      <%= link_to "Submission guidance (vx.x)", "#" %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render "error_messages", target: material_submission %>
  </div>
</div>

<div class="row" id="progress-bar">
  <% wizard_steps.each_with_index do |step, index| %>
    <div class="col-xs-2 <%= "col-xs-offset-2" if index == 0 %> bs-wizard-step <%= step_classes(index) %>">
      <div class="text-center"><%= step_titles[index] %></div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="step-indicator"></a>
    </div>
  <% end %>
</div>
