<%= render partial: 'submission_header', locals: { title: "Step 3: Delivery Details" , progress: 75 } %>

<%= bootstrap_form_for material_submission, url: wizard_path, method: :put  do |f| %>

  <div class="row">

    <div class="col-md-6 col-xs-12">
      <h2>Dispatch request #<%= material_submission.id %></h2>

      <p><%= pluralize(material_submission.no_of_labwares_required, 'barcode') %> will be printed and dispatched to you in the next 5 working days. A copy of the material manifest will be mailed to the address below:</p>

    </div>

    <div class="col-md-6 col-xs-12">
      <h2>Contact</h2>

      <p>The following contact will be notified when the materials arrive at Sanger Institute:</p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <%= f.text_field :email %>

      <%= f.text_area :address, value: "Dr. Alan Kay\n\n80 Xerox Palo Alto Research Center\nA place\nUSA", control_class: 'form-control halvsies', style: 'resize: none; width: 100%;' %>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="row">
        <%= f.collection_select :contact_id, Contact.all, :id, :fullname_and_email, { class: "form-control contact" } %>
      </div>
      <div class="row">
        Your number is:
        <span>Submission <h1><%= material_submission.id %></h1></span>
      </div>

    </div>


  </div>

  <%= render 'buttons', material_submission: material_submission, f: f %>

<% end %>
