<%= render 'form', locals: { step: step } do %>
  <%= bootstrap_form_for material_submission, url: wizard_path, method: :put do |f| %>

  <%= render 'buttons', material_submission: material_submission, f: f %>

  <ul class="nav nav-tabs" role="tablist">

    <% material_submission.labwares.each_with_index do |labware, i| %>
      <li class="<%= 'active' if i == 0 %>" role="presentation">
        <a data-toggle="tab" href="#<%= labware.barcode.value %>" aria-controls="<%= labware.barcode.value %>" role="tab">
          <%= labware.barcode.value %>
        </a>
      </li>
    <% end %>

  </ul>

  <div class="tab-content">

    <%= f.fields_for :labwares, material_submission.labwares do |labware_fields| %>

        <div role="tabpanel" class="tab-pane <%= 'active' if labware_fields.index == 0 %>" id="<%= labware_fields.object.barcode.value %>">

          <div style="margin-top: 10px" class="well">
            <div class="row">
              <div class="venter col-md-8">
                Please enter material provenance or drag & drop comma separated value file (CSV)
              </div>
              <div class="vcenter col-md-4">
                <label style="float: right" class="btn btn-primary">
                    Upload CSV <input type="file" style="display: none;">
                </label>
              </div>
            </div>
          </div>


          <table data-behavior="datatable" class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Plate Barcode</th>
                <th>Well Position</th>
                <th>Your Material Alpha-Numeric</th>
                <th>Your Donor Alpha-Numeric</th>
                <th>Declared Gender</th>
                <th>Common Name</th>
                <th>Phenotype</th>
              </tr>
            </thead>

            <tbody>

            <%= labware_fields.fields_for :wells, labware_fields.object.wells do |well_fields| %>

              <tr>
                <td><%= labware_fields.object.barcode.value %></td>
                <td>
                  <%= well_fields.hidden_field :id %>
                  <%= well_fields.hidden_field :position %>
                  <%= well_fields.object.position %>
                </td>

                <% biomaterial = well_fields.object.biomaterial.nil? ? well_fields.object.build_biomaterial : well_fields.object.biomaterial %>

                <%= well_fields.fields_for :biomaterial, biomaterial do |bm_fields| %>
                  <td><%= bm_fields.text_field :supplier_name, hide_label: true %></td>
                  <td><%= bm_fields.text_field :donor_name, hide_label: true %></td>
                  <td><%= bm_fields.text_field :gender, hide_label: true %></td>
                  <td><%= bm_fields.text_field :common_name, hide_label: true %></td>
                  <td><%= bm_fields.text_field :phenotype, hide_label: true %></td>
                <% end %>

              </tr>
            <% end %>

            </tbody>
          </table>

        </div> <!-- tabpanel -->

    <% end %>

  </div> <!-- tab-content -->

  <%= render 'buttons', material_submission: material_submission, f: f %>
<% end %>

<% end %>