<tr>
  <td><%= check_box_tag("material_submission_ids[]", material_submission.id) unless show_dispatched %></td>
  <td><%= material_submission.address %></td>
  <td><%= material_submission.id %></td>
  <% if !show_dispatched? %>
    <td><%= material_submission.status %></td>
  <% end %>
  <td><%= material_submission.owner_email %></td>
  <td>
    <% if show_dispatched %>
      <%= localize(material_submission.dispatch_date, format: :terse) %>
    <% else %>
      <%= localize(material_submission.created_at, format: :terse) %>
    <% end %>
  </td>
  <td><%= material_submission.no_of_labwares_required %></td>
  <td><%= supply_labware_type(material_submission) %></td>
</tr>
