<% content_for :main_title do %>
Claim Submissions
<% end %>

<div class="row rowspace stamping-display">
  <div class="col-md-12">
    <h5><span class="index">1.</span> Select a stamp of permissions to apply:</h5>
    <select class="form-control" id="stamp_id">
      <%= @stamps.each do |stamp| %>
      <option value="<%= stamp.id %>"><%= stamp_summary(stamp) %></option>
      <% end %>
    </select>
  </div>
</div>

<h5><span class="index">2.</span> Select a set from the table and claim it inside a collection by clicking on 'Claim':</h5>
<div class="claiming-display row disabled">
  <div class="col-md-4">
      <div class="submission-list">
        <table class="table">
          <thead>
            <tr>
              <th data-field="id"> Id </th>
              <th data-field="created_at">Created at </th>
              <th data-field="no_of_labwares_required"># ready</th>
              <th data-field="state" data-checkbox="true"></th>
            </tr>
          </thead>
          <tbody>
            <% @submissions.each do |sub| %>
            <tr>
              <td><%= sub.id %></td>
              <td><%= sub.created_at %></td>
              <td><%= sub.labwares_ready_for_claim.size %> / <%= sub.labwares_unclaimed.size %></td>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
  <div class="col-md-8">
      <div class="claimed-sets" data-service-url="/get_all_collections"
      data-psd-component-class="DragAndDrop"
      data-psd-component-parameters='{"cssDropable": "tbody tr"}'>
      <table data-toggle="table" class="table">
        <thead>
          <tr>
            <th data-field="name">Collection Name</th>
            <th data-field="uuid">UUID</th>
            <th data-field="claim">Claim</th>
          </tr>
        </thead>
      </table>
    </div>
</div>
</div>
