<% content_for :main_title do %>
  Claim Submissions
<% end %>


<%= bootstrap_form_tag url: claim_submissions_path, method: "post" do |f| %>
  <div class="row">
    <div class="col-md-6 claiming-display">
      <div class="h5">1. Select a set from the table and claim it inside a collection by clicking on 'Claim':
      </div>
      <table class="table">
        <thead>
          <tr>
            <th data-field="id"> Id </th>
            <th data-field="created_at">Created at </th>
            <th data-field="no_of_labwares_required"># ready</th>
            <th data-field="state" data-checkbox="true"></th>
          </tr>
        </thead>
        <tbody>
          <% @submissions.each do |sub| %>
            <tr>
              <td><%= sub.id %></td>
              <td><%= sub.created_at %></td>
              <td><%= sub.labwares_ready_for_claim.size %> / <%= sub.labwares_unclaimed.size %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <div class="h5">2. Select a stamp of permissions to apply:</div>

      <% stamp_options = @stamps.map { |stamp| [stamp_summary(stamp), stamp.id] } %>
      <%= f.select(:stamp_id, options_for_select(stamp_options), hide_label: true) %>

      <!-- Hidden fields are dynamically built from the submissions table -->
      <%= f.hidden_field :submission_ids, multiple: true %>

      <br />

      <%= f.submit "Stamp", class: "btn btn-primary pull-right", id: "stamp_button", disabled: true %>
    </div>
  </div>

<% end %>