<% content_for :main_title do %>
  Dispatch Labware
<% end %>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="<%= 'active' if current_page?(controller: 'material_submissions/print') %>">
    <a href="<%= material_submissions_print_index_path %>" aria-controls="printable" role="tab">
      Print <span class="badge"><%= printable_count %></span>
    </a>
  </li>
  <li role="presentation" class="<%= 'active' if current_page?(controller: 'material_submissions/dispatch') %>">
    <a href="<%= material_submissions_dispatch_index_path %>" aria-controls="dispatchable" role="tab">
      Dispatch <span class="badge"><%= dispatchable_count %></span>
    </a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active">
    <%= yield %>
  </div>
</div>
