<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title(yield(:main_title)) %></title>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>


  </head>
  <body>
    <nav class="navbar navbar-inverse">
    <div class="container">
    <div class="navbar-header">
    <!-- Display the hamburger button if screen isn't wide enough -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'Aker', root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navBar">
    <%= render 'navlinks' %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete if user_signed_in? %></li>
    </ul>
    </div>
    </div>
    </nav>

  <div class="container" id="content">
    <h1><%= yield(:main_title) %></h1>
    <%= render "flashes" %>

    <%= yield %>

  </div>
  </body>
</html>
