<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title(yield(:main_title)) %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <%# navbar comes from aker_shared_navbar engine %>
    <%= render partial: "navbar" %>

    <div class="container" id="content">
      <div class="row">
        <div class="col-md-8">
          <h1>
            <%= yield(:main_title) %>
          </h1>
        </div>
        <div class="col-md-4">
            <%= yield(:title_button) if content_for?(:title_button) %>
        </div>
      </div>
      <%= render "flashes" %>
      <%= yield %>
    </div>
    <footer style="text-align:center">
      <% if Projects::Application::VERSION.present? %>
        <%= 'Version: ' + Projects::Application::VERSION[0..6] %>
      <% end %>
    </footer>
  </body>
</html>
