<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title(yield(:main_title)) %></title>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

    <script src="https://unpkg.com/react-jsonschema-form/dist/react-jsonschema-form.js"></script>

  </head>
  <body>

  <div class="container">

    <div class="row page-header">
      <div class="col-md-8 col-xs-8">
        <h1>Aker <small><%= yield(:main_title) %></small></h1>
      </div>
      <div class="col-md-4 col-xs-4 text-right">
        <%= yield(:title_button) if content_for?(:title_button) %>
         <%= link_to 'Log Out', destroy_user_session_url, class: 'btn btn-default vcenter', style: 'margin-top: 28px', method: :delete if user_signed_in? %>
      </div>
    </div>

    <%= render "flashes" %>

    <%= yield %>

  </div>
  </body>
</html>
